{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4">
      
    </div>
  

  </div>
</div>

<center><div class ="panel panel-default" style ="width:50%;background-color:orange;color:darkblue;">
  <h4>If You do not have an Account Request for it and we will get back to you with your new credentials<br>
    <strong><a href ="{%url 'post_request' %}">CLICK HERE </a></strong> to post your request.
  </h4>
  
</div></center>


{% endblock %}