{% extends 'shop/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title> </title>
 {{form.media}}

 {% block styles %} {% bootstrap_css %}
 <link rel="stylesheet" href="{% static 'css/baseinsto.css' %}"> {% endblock %}

</head>

<body>

   <center><h1 class ="page-header">Payment</h1> 
    <div class ="container">
      
       
         <div class= "panel panel-default-sm" style="width:30%">
           <div class ="panel-heading">

           </div>
           <div class="panel-body">
              <form  action="{%url 'cart:payment' order.id %}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
             
                {% bootstrap_form form%}
                <input type="submit" class="btn btn-primary btn-sm" value="Launch Payment Process" style = "background-color:dark-blue;">
              </form>
           </div>
           
         </div>
       
   </div>
 
  </center>

  {% block scripts %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% bootstrap_javascript %} {% endblock %}
</div>
</body>

</html>
{% endblock %}